.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.cart-container{
    background-color: rgba(240, 193, 76, 0.664);
}